version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "github-actions"

  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "php"
      - "composer"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "javascript"
      - "npm"
